{% extends 'layouts/default.html.twig' %}

{% block main %}

<section>
    <twig:block-hero
        size="mini"
        title="Documentation"
        subtitle="Documentation for our projects."
    />
</section>

<section class="my-5">
    <twig:block-alert
        container="container"
        type="info"
        content="The unified documentation of our projects is under construction. Please check the documentation of each project to see the progress."
    />
</section>

{% endblock %}
