{% extends 'layouts/default.html.twig' %}

{% block main %}

<section>
    <twig:block-hero
        background="{{ base_path }}/img/free-software/free-software-hero.webp"
        contentBackground="true"
        title="Free Software / Software Libre"
        subtitle="Free software is a matter of liberty, not price. Think of free as in free speech, not as in free beer."
        :buttons="[
            {
                text: 'Free Software Foundation',
                url: 'https://www.fsf.org',
                target: '_blank'
            }
        ]"
        align="left"
    />
</section>

<section>
    <twig:block-title
        container="container"
        title="The four freedoms of free software"
        subtitle="Free software is a matter of liberty, not price. Think of free as in free speech, not as in free beer."
    />

    <twig:block-features-icon
        container="container"
        :features="[
            {
                icon: 'fa-solid fa-play',
                title: 'Run',
                description: 'The user has the freedom to run the program as they wish, for any purpose (personal, educational, commercial, etc.).'
            },
            {
                icon: 'fa-solid fa-magnifying-glass',
                title: 'Study',
                description: 'The user has the freedom to study the program and adapt it to their needs.'
            },
            {
                icon: 'fa-solid fa-share',
                title: 'Distribute',
                description: 'The user has the freedom to distribute copies of the program, either gratis or in exchange for a price.'
            },
            {
                icon: 'fa-solid fa-pen-to-square',
                title: 'Improve',
                description: 'The user has the freedom to improve the program and distribute the improvements to others.'
            }
        ]"
    />
</section>

<section>
    <twig:block-title
        container="container"
        title="Free software licenses"
        subtitle="There are many free software licenses, each with their own characteristics and benefits."
    />

    <twig:block-card-grid
        container="container"
        :cards="[
            {
                title: 'AGPL License',
                description: 'Allows the use, modification and distribution of the software, as long as the original source code is included. This license includes software that runs on servers.'
            },
            {
                title: 'GPL License',
                description: 'Allows the use, modification and distribution of the software, as long as the original source code is included.'
            },
            {
                title: 'LGPL License',
                description: 'Allows the use, modification and distribution of the software, as long as the original source code is included.'
            },
            {
                title: 'MIT License',
                description: 'Allows the use, modification and distribution of the software without restrictions, as long as the original copyright notice is included.'
            },
        ]"
        :cols="2"
    />
</section>

<section>
    <twig:block-cta
        title="Want to know more about free software?"
        description="¡Check out the information on the Free Software Foundation website!"
        button_text="What is Free Software?"
        button_url="https://www.gnu.org/philosophy/free-sw.es.html"
    />
</section>

<section>

    <twig:block-title
        container="container"
        title="Free software projects"
        subtitle="We participate in different free software projects."
    />

    <twig:block-card-grid
        container="container"
        :cards="[
            {
                title: 'Derafu ORG',
                description: 'Collection of free software for the creation of libraries and web applications.',
                button_text: 'See on GitHub',
                button_url: 'https://github.com/derafu',
            },
            {
                title: 'LibreDTE',
                description: 'LibreDTE is a free software for the generation of electronic tax documents (DTE) in Chile.',
                button_text: 'See on GitHub',
                button_url: 'https://github.com/libredte',
            }
        ]"
        :cols="2"
    />
</section>

<section>
    <twig:block-quote
        container="container"
        quote="I decided to migrate several projects to the MIT license, which is more permissive than the AGPL, so that my software can be used in more projects. My goal is that the software I create is accessible to more projects and people."
        author="Esteban De La Fuente Rubio"
        source="Derafu ORG"
        image="/img/home/team/esteban.png"
    />
</section>
{% endblock %}
