{% extends 'layouts/default.html.twig' %}

{% block title %}Derafu ORG{% endblock %}

{% block content %}
<section>
    <twig:block-hero
        size="mini"
        title="Derafu ORG"
        subtitle="Innovation & Community in Technology and Education"
    />
</section>

<section id="software">
    <twig:block-title
        container="container"
        title="Some Free Software Projects"
        subtitle="Developing open source tools to simplify and improve software development."
    />

    <twig:block-card-grid
        container="container"
        :cards="[
            {
                image: '/img/home/software/derafu-foundation.webp',
                title: 'Derafu Foundation',
                description: 'A standardized base for creating consistent PHP projects.',
                button_text: 'See Project',
                button_url: 'https://derafu.org/foundation'
            },
            {
                image: '/img/home/software/derafu-twig.webp',
                title: 'UX Components for Twig',
                description: 'Twig extension with filters and approximately 40 components for the PHP template system.',
                button_text: 'See Project',
                button_url: 'https://derafu.org/twig'
            },
            {
                image: '/img/home/software/derafu-form.webp',
                title: 'Forms',
                description: 'Declarative, schema-based approach to form definition and rendering.',
                button_text: 'See Project',
                button_url: 'https://derafu.org/form'
            },
            {
                image: '/img/home/software/derafu-chart.webp',
                title: 'Graphics with GD',
                description: 'PHP library to generate charts with GD or other custom renderers.',
                button_text: 'See Project',
                button_url: 'https://derafu.org/chart'
            },
            {
                image: '/img/home/software/derafu-query.webp',
                title: 'SQL Query Operators',
                description: 'Query builder that uses path expressions and configurable operators to simplify complex database queries.',
                button_text: 'See Project',
                button_url: 'https://derafu.org/query'
            },
            {
                image: '/img/home/software/derafu-data-processor.webp',
                title: 'Data Processing',
                description: 'Data processing through four phases: casting, transformation, sanitization and validation.',
                button_text: 'See Project',
                button_url: 'https://derafu.org/data-processor'
            },
            {
                image: '/img/home/software/derafu-selector.webp',
                title: 'Array Selection and Filtering',
                description: 'Querying, extracting, and modifying complex data structures using a declarative selector syntax.',
                button_text: 'See Project',
                button_url: 'https://derafu.org/selector'
            },
            {
                image: '/img/home/software/derafu-xml.webp',
                title: 'XML Encoding and Validation',
                description: 'XML manipulation, providing robust tools for encoding, decoding, validating, and querying XML documents.',
                button_text: 'See Project',
                button_url: 'https://derafu.org/xml'
            }
        ]"
        :cols="4"
    />

    <twig:block-cta
        title="Want to see more free software projects?"
        description="Check out the complete list of projects on the upper menu."
        button_text="See All Projects"
        button_url="javascript:document.querySelector('.nav-item.dropdown.mega-menu-wrapper .dropdown-toggle').click();"
    />
</section>

<section id="education">
    <twig:block-title
        container="container"
        title="Education"
        subtitle="Creating innovative tools that make learning more accessible and interactive."
    />

    <twig:block-card-grid
        container="container"
        :cards="[
            {
                image: '/img/home/education/flobix.png',
                title: 'Flobix',
                description: 'An educational tool that allows learning through images and symbols.',
                button_text: 'Learn More',
                button_url: 'https://www.flobix.org'
            },
            {
                image: '/img/home/education/liberalism.png',
                title: 'Responsibility and Freedom',
                description: 'Respect for individual life projects based on the principle of non-aggression.',
                button_text: 'Learn More',
                button_url: ''
            },
            {
                image: '/img/home/education/finance.png',
                title: 'Personal Finance',
                description: 'Only informative content. No investment recommendations.',
                button_text: 'Learn More',
                button_url: ''
            }
        ]"
        :cols="3"
    />
</section>

<hr/>

<section id="community">
    <twig:block-title
        container="container"
        title="Community Initiatives"
        subtitle="Promoting projects that promote collaboration, inclusion and shared knowledge."
    />

    <twig:block-card-grid
        container="container"
        :cards="[
            {
                image: '/img/home/community/guarida.png',
                title: 'Guarida',
                description: 'A space and community of games focused on collectible card games and RPGs.',
                button_text: 'Learn More',
                button_url: 'https://www.guarida.cl',
                offset: 4
            }
        ]"
        :cols="3"
    />
</section>

<hr/>

<section id="team">
    <twig:block-title
        container="container"
        title="Team"
        subtitle="Meet the people behind Derafu ORG, committed to open source and education."
    />

    <twig:block-team
        container="container"
        :members="[
            {
                name: 'Esteban',
                role: 'Software Developer & Entrepreneur',
                image: '/img/home/team/esteban.png',
                bio: 'Passionate about software development, automation and business strategies. With years of experience in creating innovative solutions. Currently pursuing an MBA.',
                links: [
                    {
                        icon: 'fa-brands fa-linkedin',
                        text: 'LinkedIn',
                        url: 'https://www.linkedin.com/in/estebandelaf'
                    },
                    {
                        icon: 'fa-brands fa-github',
                        text: 'GitHub',
                        url: 'https://github.com/estebandelaf'
                    }
                ]
            },
            {
                name: 'Marcela',
                role: 'Education & Marketing',
                image: '/img/home/team/marcela.png',
                bio: 'Passionate about education and business management, with training in early childhood education and a diploma in marketing. Currently expanding her skills in programming.',
                links: [
                    {
                        icon: 'fa-brands fa-linkedin',
                        text: 'LinkedIn',
                        url: 'https://www.linkedin.com/in/marcela-morales-peralta-26054a88'
                    }
                ]
            },
            {
                name: 'Valentina',
                role: 'Kinesiologist & Future Software Developer',
                image: '/img/home/team/valentina.png',
                bio: 'Kinesiologist in transition to the technological world. Passionate about technology, well-being and full consciousness through yoga. Currently completing a programming bootcamp.',
                links: [
                    {
                        icon: 'fa-brands fa-linkedin',
                        text: 'LinkedIn',
                        url: ''
                    }
                ]
            }
        ]"
        :cols="3"
    />
</section>
{% endblock %}
