{# layouts/default.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Derafu: Derafu ORG Page{% endblock %}

{% block body %}
    {% block header %}
        <div id="header-container" class="sticky-top"></div>
        {# {% include 'components/header.html.twig' %} #}
    {% endblock %}

    {% block main %}
        <main>
            {% block content %}{% endblock %}
        </main>
    {% endblock %}

    {% block footer %}
        <div id="footer-container"></div>
        {# {% include 'components/footer.html.twig' %} #}
    {% endblock %}
    <script src="{{ base_path }}/js/derafu.js"></script>
{% endblock %}
